---
import BiblioIcon from "../icons/Biblio.astro";
import ExplorerIcon from "../icons/Explorer.astro";
import HomeIcon from "../icons/Home.astro";
import SideMenuItem from "./SideMenuItem.astro";
import SidePlaylist from "./SidePlaylist.astro";
import { playlists } from "../lib/data";
---

<div
    class="lg:bg-[#030303] lg:border-r-[1px] border-zinc-800 flex flex-col flex-1 gap-y-4"
>
    <div class="m-2">
        <ul>
            <SideMenuItem href="/">
                <HomeIcon />
                <span class="hidden lg:block"> Principal </span>
            </SideMenuItem>
            <SideMenuItem href="/explorer">
                <ExplorerIcon />
                <span class="hidden lg:block"> Explorar </span>
            </SideMenuItem>
            <SideMenuItem href="/biblio">
                <BiblioIcon />
                <span class="hidden lg:block"> Biblioteca </span>
            </SideMenuItem>
        </ul>
    </div>
    <div class="h-[1px] bg-zinc-800 mx-6"></div>
    <div class="hidden lg:flex flex-col">
        <ul>
            {playlists.map((playlist) => <SidePlaylist playlist={playlist} />)}
        </ul>
    </div>
</div>
