---
import { type Song } from "../lib/data";
import { SongPlayButton } from "./SongPlayButton";

interface Props {
    songs: Song[];
}

const { songs } = Astro.props;
---

<section>
    {
        songs.map((song, index) => (
            <div class="hover:bg-white/10 rounded-md py-6 px-8 flex flex-row justify-between group">
                <div class="flex flex-row gap-10 items-center relative">
                    <span class="text-zinc-300 group-hover:opacity-0 block transition-opacity duration-50 ease-in-out">
                        {index + 1}
                    </span>
                    <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-50 ease-in-out size-6">
                        <SongPlayButton
                            fill={"white"}
                            playlistid={song.albumId}
                            id={song.id}
                            client:visible
                        />
                    </div>
                    <h3 class="font-semibold">{song.title}</h3>
                </div>
                <div class="text-zinc-300">{song.duration}</div>
            </div>
        ))
    }
</section>
