---
import SpanIcon from "../icons/Span.astro";
import Logo from "../icons/Logo.astro";
import Connect from "../icons/Connect.astro";
import Search from "../icons/Search.astro";
import Avatar from "../icons/Avatar.astro";
---

<nav
    class="navbar flex flex-row flex-1 gap-2 bg-[#030303] border-b-[1px] border-zinc-800 text-[#828282]"
>
    <div class="flex lg:w-[240px] justify-between py-5 lg:pr-16 pl-6">
        <div class="hidden lg:block">
            <SpanIcon />
        </div>
        <a href="/"><Logo /></a>
    </div>
    <div
        class="flex flex-row lg:ml-28 lg:mr-24 place-content-evenly lg:place-content-between w-full"
    >
        <div
            class="border-[1px] border-zinc-600 rounded-lg h-10 self-center w-40 sm:w-80 md:w-[480px] flex flex-row"
        >
            <div class="self-center px-4 w-16">
                <Search />
            </div>
            <div class="w-full flex">
                <input
                    id="search"
                    class="w-5/6 outline-none bg-inherit placeholder:truncate placeholder:text-[#828282] font-semibold antialiased"
                    type="text"
                    placeholder="Buscar canciones, álbunes, artistas o podcasts"
                />
            </div>
        </div>
        <div class="flex-row flex gap-6 py-5 pr-6 lg:pr-0">
            <div class="hidden sm:block">
                <Connect />
            </div>

            <div
                class="w-6 h-6 bg-white rounded-full flex place-content-center"
            >
                <Avatar />
            </div>
        </div>
    </div>
</nav>

<style></style>
