---

interface Props {
    href?: string;
}

const {href} = Astro.props
---

<li>
    <a href={href} class="flex gap-4 items-center place-content-center lg:place-content-start lg:bg-[#030303] hover:bg-zinc-800 rounded-md py-3 lg:pl-5">
        <slot/>
    </a>
</li>