---
import AsideMenu from "../components/AsideMenu.astro";
import NavBar from "../components/NavBar.astro";
import { Player } from "../components/Player.jsx";

import { ViewTransitions } from "astro:transitions";
import "@fontsource/roboto";
import "@fontsource-variable/noto-sans";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class=" h-screen overflow-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
		<ViewTransitions fallback="none" />
	</head>
	<body id="scroll" class="text-white overflow-hidden h-screen">
		<div
			class="bg-local bg-cover bg-center bg-no-repeat absolute w-full h-[450px]"
			style="background-image: url(../../../public/bg.jpg);"
		>
			<div class="w-full h-full bg-gradient-to-b from-black/50 to-black">
			</div>
		</div>
		<div id="app" class="relative h-screen w-full ">
			<div class="[grid-area:nav] min-h-12">
				<NavBar />
			</div>
			<aside class="[grid-area:aside] w-full flex-col flex overflow-y-auto">
				<AsideMenu />
			</aside>
			<main class="[grid-area:main] overflow-y-auto flex-1">
				<slot />
			</main>
			<footer class="[grid-area:player] w-full min-h-[72px]">
				<Player
					client:load
					transition:name="media-player"
					transition:persist
				/>
			</footer>
		</div>
	</body>
</html>
<style>
	#app {
		display: grid;
		grid-template-areas:
			"nav nav nav"
			"aside main main"
			"player player player";
		grid-template-columns: 50px 1fr;
		grid-template-rows: auto 1fr auto;
	}

	@media (min-width: 1024px) {
		#app {
		display: grid;
		grid-template-areas:
			"nav nav nav"
			"aside main main"
			"player player player";
		grid-template-columns: 240px 1fr;
		grid-template-rows: auto 1fr auto;
	}
		}
</style>
<style is:global>
	#Noto {
		font-family: "Noto Sans Variable", "Roboto", system-ui, sans-serif;
	}
	html {
		margin: 0;
		font-family: "Roboto", system-ui, sans-serif;
		background: #030303;
	}
	
    #scroll{
        scrollbar-color: #363636 transparent;
    }
</style>
